---
import Layout from '../layouts/Layout.astro';
import SectionIntro from '../components/Sections/SectionIntro.astro';
import SectionComponent from '../components/Sections/SectionComponent.astro';
import SectionContent from '../components/Sections/SectionContent.astro';
import SectionVideoContent from '../components/Sections/SectionVideoContent.astro';
---

<Layout title="Coches eléctricos, energía solar y limpia | Tesla" descriptions='Tesla está acelerando la transición del mundo hacia la energía sustentable con autos eléctricos, soluciones integradas de energía solar y renovables para el hogar y empresas.'>
	<main>
		{/** <SectionComponent id="we-robot" class=' w-full'>
			<SectionIntro btnTitle='Más Información' srcImgBackground='/image/Homepage-We-Robot-Hero-Desktop.png' />
		</SectionComponent>*/ }
		<SectionComponent id="mode-3" class='mx-auto  w-full  '>
			<SectionContent
				class='pt-10'
				mainTitle='Model 3'
				srcImgBackground='/image/Homepage-Model-3-Desktop-US.png'
				titleAgenda='Agenda una Prueba de Manejo'
				btnUnoName='ordenar'
				btnUnoClass='bg-blue-700 rounded-md text-white text-sm w-full lg:w-72  h-12 text-center p-3 hover:contrast-125'
				btnUnoUrl='/'
				btnDosName='Más Información'
				btnDosClass='bg-gray-200 rounded-md text-black text-sm w-full lg:w-72 h-12 text-center p-3 hover:contrast-12' />
		</SectionComponent>
		<SectionComponent id="mode-y" class='mx-auto w-full '>
			<SectionContent
				class=''
				mainTitle='Model Y'
				srcImgBackground='/image/Homepage-Model-Y-Desktop-Global-v2.png'
				titleAgenda='Agenda una Prueba de Manejo'
				btnUnoName='ordenar'
				btnUnoClass='bg-blue-700 rounded-md text-white text-sm w-full lg:w-72  h-12 text-center p-3 hover:contrast-125'
				btnUnoUrl='/'
				btnDosName='Más Información'
				btnDosClass='bg-gray-200 rounded-md text-black text-sm w-full lg:w-72 h-12 text-center p-3 hover:contrast-12' />
		</SectionComponent>

		<SectionComponent id="mode-x" class='mx-auto w-full '>
			<SectionContent
				class=''
				mainTitle='Model X'
				srcImgBackground='/image/Homepage-Model-X-Desktop-US.png'
				titleAgenda='Agenda una Prueba de Manejo'
				btnUnoName='ordenar'
				btnUnoClass='bg-blue-700 rounded-md text-white text-sm w-full lg:w-72  h-12 text-center p-3 hover:contrast-125'
				btnUnoUrl='/'
				btnDosName='Más Información'
				btnDosClass='bg-gray-200 rounded-md text-black text-sm w-full lg:w-72 h-12 text-center p-3 hover:contrast-12' />
		</SectionComponent>
		<SectionComponent id="mode-S" class='mx-auto w-full '>
			<SectionContent
				class=''
				mainTitle='Model S'
				srcImgBackground='/image/Homepage-Model-S-Desktop-US.png'
				titleAgenda='Agenda una Prueba de Manejo'
				btnUnoName='ordenar'
				btnUnoClass='bg-blue-700 rounded-md text-white text-sm w-full lg:w-72  h-12 text-center p-3 hover:contrast-125'
				btnUnoUrl='/'
				btnDosName='Más Información'
				btnDosClass='bg-gray-200 rounded-md text-black text-sm w-full lg:w-72 h-12 text-center p-3 hover:contrast-12' />
		</SectionComponent>

		<SectionComponent id="vive-experiencia-tesla" class='mx-auto w-full '>
			<SectionVideoContent
				class=''
				mainTitle='Vive La esperiencia Tesla'
				srcVideo='/video/Homepage-Demo-Drive-Desktop-NA.webm'
				titleAgenda='Agenda una Prueba de Manejo'
				btnUnoName='ordenar'
				btnUnoClass='bg-blue-700 rounded-md text-white text-sm w-full lg:w-72  h-12 text-center p-3 hover:contrast-125'
				btnUnoUrl='/'
				btnDosName='Más Información'
				btnDosClass='bg-gray-200 rounded-md text-black text-sm w-full lg:w-72 h-12 text-center p-3 hover:contrast-12' />
		</SectionComponent>
		<SectionComponent id="vive-experiencia-tesla" class='mx-auto  w-full '>
			<SectionVideoContent
				class=''
				mainTitle='Energía solar y Powerwall'
				srcVideo='/video/Homepage-We-Are-Tesla-Desktop.webm'
				titleAgenda='Agenda una Prueba de Manejo'
				btnUnoName='ordenar'
				btnUnoClass='bg-blue-700 rounded-md text-white text-sm w-full lg:w-72  h-12 text-center p-3 hover:contrast-125'
				btnUnoUrl='/'
				btnDosName='Más Información'
				btnDosClass='bg-gray-200 rounded-md text-black text-sm w-full lg:w-72 h-12 text-center p-3 hover:contrast-12' />
		</SectionComponent>
	</main>
</Layout>

<style>

</style>
