---
import { fuctionsDate } from "../helpers/fuctionsDate";

---
<div class="bg-white p-8 w-full">
    <div class="grid justify-center place-items-center">
        <ul class="flex gap-4 text-sm">
            <li class="text-gray-600 text-sm">Tesla © {fuctionsDate()}</li>
            <li class="text-gray-600 text-sm">Privacidad y Legal </li>
            <li class="text-gray-600 text-sm">Contacto</li>
            <li class="text-gray-600 text-sm">Ubicación</li>
        </ul>
    </div>
</div>