---
import { fuctionsDate } from "../helpers/fuctionsDate";

---
<div class="bg-white p-8 w-full">
    <div class="grid justify-center place-items-center">
      <ul class="flex gap-4 text-sm">
        <li class="text-gray-600 text-sm">
          Tesla &copy; {fuctionsDate()}
        </li>
        <li class="text-gray-600 text-sm">
          <a href="#" class="hover:text-gray-900">Privacidad y Legal</a>
        </li>
        <li class="text-gray-600 text-sm">
          <a href="#" class="hover:text-gray-900">Contacto</a>
        </li>
        <li class="text-gray-600 text-sm">
          <a href="#" class="hover:text-gray-900">Ubicación</a>
        </li>
      </ul>
    </div>
  </div>